@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.nav-item {
  background-color: #fbfff7;
  border-radius: 9999px; /* Makes it a capsule */
  padding: 10px 20px; /* Adjust for size */
  display: inline-block; /* Shrink to content */
  text-align: center; /* Center the text */
}
